<!-- <%= myHisr.name %> is a <%= myHisr.type %>. -->

<div style="margin: auto; text-align: center; ">


      <img style="width: 1200px;" src="<%= myCreature.img_url %>" 

      <h2 style="text-align: center; "><%= myCreature.type %></h2>

      
</div>